<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Librarian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--Reference to Style Sheet -->
    <link type="text/css"
          rel="stylesheet"
          href="/style.css" />

</head>
<div th:if="${not #lists.isEmpty(books)}">
    <div id="header">
    <h2 align="center">Library Management System</h2>
    </div>
    <table border=1 class="table table-striped">
        <col width="300">
        <col width="240">
        <col width="200">
        <col width="200">
        <col width="190">
        <col width="150">
        <col width="50">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Author First Name</th>
            <th>Author Last Name</th>
            <th>Publisher</th>
            <th>Date of Purchase</th>
            <th>Price</th>
        </tr>
        <tr th:each="book : ${books}">
            <td align="left" th:text="${book.bookTitle}"></td>
            <td align="left" th:text="${book.bookGenre}"></td>
            <td align="left" th:text="${book.authorFirstName}"></td>
            <td align="left" th:text="${book.authorLastName}"></td>
            <td th:text="${book.publisherName}"></td>
            <td th:text="${book.dateOfPurchase}"></td>
            <td align="right" th:text="${book.costOfPurchase}"></td>
        </tr>
    </table>
</div>
</html>