<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %> 
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Under the hood</title>
<!--Reference to Style Sheet -->
<link type="text/css"
rel="stylesheet"
href="${pageContext.request.contextPath}/WebResources/css/style.css" />
</head>
<body>
<a href="${pageContext.request.contextPath}/book/list" style="text-decoration: none">
<div id="wrapper">
    <div id="header">
        <h2 align="center">Under the hood</h2>
        <br>
        <div id="sub" align="center">A book is a gift you can open again and again - <i>Garrison Keillor</i></div>
    </div>
</div>
</a>
1. What is entity life cycle?

A very good article is available here. https://medium.com/@prabhash.code/hibernate-entity-lifecycle-8ca5a5f93f9a <br>
Please note that transient is called New and Persistent is also called managed. <br>
A boring version on JPAs <a href="https://docs.oracle.com/cd/E16439_01/doc.1013/e13981/undejbs003.htm">here</a>.<br>
<br><br>
2. What is cascading?<br>
Cascading feature in ORM orchstrates the actions across related entities. <br>
<br><br>
Cascading is a feature in Hibernate, which is used to manage the state of the mapped entity whenever the state of <br> 
its relationship owner (superclass) affected. When the relationship owner (superclass) is saved/ deleted, then the <br>
mapped entity associated with it should also be saved/ deleted automatically<br>
<br><br>
More on cascading <a href="https://www.baeldung.com/jpa-cascade-types">here</a>
</body>