body {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  border-bottom: 1px solid gray;
  font-family: "Courier New", Courier, Tahoma, Verdana, Segoe, sans-serif;

  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}

th {
  border-bottom: 1px solid gray;
  background: none repeat scroll 0 0 #09a7c3;
  padding: 10px;
  color: #ffffff;
}

tr {
  border-top: 1px solid gray;
  text-align: center;
}

tr:nth-child(even) {
  background: #ffffff;
}
tr:nth-child(odd) {
  background: #bbbbbb;
}

#wrapper {
  width: 100%;
  margin-top: 0px;
}
#header {
  width: 100%;
  background: #09a7c3;
  margin-top: 0px;
  padding: 15px 15px 15px 15px;
}
#header h2 {
  width: 100%;
  margin: auto;
  color: #ffffff;
}
#container {
  width: 100%;
  margin: auto;
}
#container h3 {
  color: #000;
}
#container #content {
  margin-top: 20px;
}
#sub {
  font-size: 14px;
  color: #ffffff;
}

.add-button {
  border: 1px solid #666;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  width: 120px;
  padding: 5px 10px;

  margin-bottom: 15px;
  background: #cccccc;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
