<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Define your dependency beans here -->
	<bean id="feeService"
		class="com.vijay.springdemo.CheapFeeService">
	</bean>
	
    <!-- Define your beans here -->
    <bean id="myCoach"
    	class="com.vijay.springdemo.TrackCoach">
    	<!-- Set up the constructor Injection here -->
    	<constructor-arg ref="feeService"></constructor-arg>
    </bean>
    
</beans>





