/**Header**/
#header-nav {
  /*background-color: #fdc426;*/
  background-color: white;
  border-radius: 0;
  border: 0;
  /* Make the nav bar fixed */
  position: fixed;
  width: 100%;
  /* Make the nav bar come to the front */
}
/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (min-width: 478px) and (max-width: 767px) {
}

/********** Super extra small devices Only  **********/
@media (max-width: 477px) {
}
